.header {
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 2px 2px 5px rgb(174, 172, 172);

  & .hidden {
    display: none !important;
  }
}

.wrapper {
  display: flex;
  /* position: relative; */
  justify-content: space-evenly;
  margin: 5px;
  padding: 5px;
  height: 40px;
}

.icon-cartshopping {
  float: right;
  right: 0px;
}

.topmenuright {
  position: absolute;
  display: flex;
  right: 120px;
  /* bottom: 0px; */
}

.topmenuright i {
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  color: blue;
}

.topmenuleft a {
  position: absolute;
  left: 150px;
  text-decoration: none;
  font-size: 30px;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* .topmenuleft i{
transform: translateY(10%);
font-size: 60px;
padding-left: 15px;
color: blue;
} */
.showimg {
  /* width: 100%; */
  left: 0;
  right: 0;
  overflow: hidden;
  margin-top: 130px;
}

.topmenu {
  display: flex;
  transition: 0.5s;
}

.lietke {
  position: relative;
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0 300px 0 0;
  height: 100%;
  align-items: center;
}

.lietke li {
  margin-right: 50px;
}

.footer {
  padding-left: 160px;
  display: flex;
  border-top: solid 1px grey;
}

.footerleft ul {
  margin-right: 160px;
  padding: 0;
  list-style-type: none;
}

.footerleft li {
  padding: 5px;
}

.footericon i {
  border: solid 1px grey;
  padding: 3px;
  font-size: 30px;
  margin: 10px;
}

h4 {
  color: blue;
}

.head-text {
  height: 30px;
  background-color: black;
  overflow: hidden;
}

.text {
  color: white;
  text-align: center;
  transition: 0.5s;
}

input {
  height: 20px;
  width: 500px;
  border: none;
  outline: none;
}

.search {
  border: solid 1px blue;
  margin-right: 50px;
}

.content {
  margin: 20px;
}

.itemaopolo,
.itemaophong {
  padding-left: 40px;
}

.itemaophong img {
  padding: 20px;
}

.itemaopolo img {
  padding: 20px;
}

.lietke ul {
  list-style-type: none;
  padding: 0;
}

.item {
  background-color: white;
  display: none;
  width: 150px;
  position: absolute;
  top: 50px;
}
.item ul {
  padding: 0px;
}
.item li {
  /* text-align: center; */

  border-color: rgb(82, 124, 161);
  margin: 15px;

  white-space: nowrap;
}
.item:hover .item1,
.item2 {
  color: aquamarine;
}
.danhmuc {
  position: relative;
}

.danhmuc a {
  position: relative;
  z-index: 2;
  display: block;
  padding: 0;
  line-height: 60px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.danhmuc i {
  font-size: 10px;
}

.danhmuc:hover .item {
  display: block;
  cursor: pointer;
}

.head-bottom {
  height: 40px;
  background-color: white;
  padding-left: 100px;
}
.cart {
  position: fixed;
  z-index: 500px;
  display: none;
  top: 0px;
  right: 0px;
  width: 30%;
  height: 100%;
  background-color: white;
}
.cart-open {
  transform: translateX(0);
}
.cart_header {
  display: flex; /* Định dạng cart_header là flex container */
  justify-content: center; /* Căn giữa nội dung bên trong theo chiều ngang */
  align-items: center; /* Căn giữa nội dung bên trong theo chiều dọc */
}
.cart_header i {
  padding: 20px;
  padding-left: 200px;
  cursor: pointer;
}

.cart_header h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.cart ul {
  list-style-type: none;
}
.cart li {
  padding: 10px;
}
.cart_footer {
  display: flex; /* Hiển thị nội dung dưới dạng flexbox */
  justify-content: space-between; /* Giãn cách đều giữa các phần tử con */
  align-items: center; /* Căn chỉnh các phần tử con theo chiều dọc */
  padding: 10px 20px; /* Thêm khoảng đệm xung quanh `cart_footer` */
  border-top: 1px solid #ccc; /* Thêm đường viền trên để phân tách */
  background-color: white; /* Màu nền nhạt cho phần chân trang */
}

.cart_footer p {
  margin: 0; /* Loại bỏ khoảng cách mặc định */
  font-weight: bold; /* Làm cho văn bản đậm hơn để nổi bật */
}

.cart_footer span {
  font-weight: bold;
  color: #333;
}

.cart_footer a {
  display: block;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.cart_footer a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Định dạng cho giỏ hàng */
.cart-item {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cart-item img {
  margin-right: 10px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.product-quantity,
.product-price {
  margin: 5px 0;
}
.remove-item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
}
.remove-item i {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
}
/* CSS cho dropdown menu */
/* CSS cho dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 80%;
  left: 20%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

/* Hiển thị dropdown menu khi hover vào dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* .product{
  display: none;
  filter: blur(5px);
  position: fixed;
  left: 0;
  top:0px; 
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200px;
} */

.landing-product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tạo 4 cột có kích thước bằng nhau */
  grid-template-rows: repeat(2, auto); /* Tạo 2 hàng với chiều cao tự động */
  gap: 10px; /* Khoảng cách giữa các ô */
  width: 100%;

  & a img {
    max-width: 320px;
  }
}

.item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}
