.role-action-checkbox {
  min-width: 12%;
  padding-left: 25px;
  margin: 5px 0;
}

.role-view-containter {
  position: relative;
  cursor: pointer;
  user-select: none;
}

input.role-view {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: hsl(119, 66%, 75%);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.role-view-containter .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.role-view-containter input.role-view:checked ~ .checkmark {
  background-color: hsl(135, 82%, 34%);
}

.role-view-containter input.role-view:checked ~ .checkmark:after {
  display: block;
}

.hidden {
  display: none !important;
}

.side-menu {
  height: 100vh;
  min-width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hotpink;
  align-items: center;
  padding-top: 10px;
}

.side-menu-item {
  background-color: #fff;
  width: 90%;
  border-radius: 15px;
  padding: 10px;
  margin: 3px 0;
}

.admin-menu {
  background-color: #000;
}

.admin-menu-item:first-child {
  max-width: 70px;
  background-color: hsl(348, 83%, 40%);
}

.admin-menu-item {
  flex: 1;
  padding: 3px 0;
}

.admin-menu-item:hover {
  background-color: #cbcbcb;
  & a {
    color: #000;
  }
}

.admin-menu-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
